html {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

form.form {
  overflow: scroll;
  border: 2px solid #3f3f46;
  border-radius: 10px;
  margin-top: 10px;
  width: 95vw;
  height: 80vh;
  background-color: #e4e4e7;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

div.tableLimiter {
  gap: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
  margin: auto;
  width: 98%;
  display: flex;
  flex-direction: row;
  max-height: 450px;
  &::-webkit-scrollbar {
    display: none;
  }
}

div.header {
  margin-top: 10px;
  padding: 10px;
  position: relative;
  left: 10px;
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.filtros {
  padding: 10px;
  position: relative;
  left: 10px;
  width: 96%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

select.selectUser {
  width: fit-content;
}
